In [75]:
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
import scipy.sparse as sparse
from sklearn.preprocessing import MinMaxScaler

import implicit

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [76]:
df = pd.read_parquet('./data/train_mfti.parquet', engine='pyarrow')
df

,event_date,event_timestamp,vacancy_id_,cookie_id,user_id,event_type
0,2022-08-01,1659323026,129850,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,show_vacancy
1,2022-08-01,1659377255,108347,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy
2,2022-08-01,1659376695,109069,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy
3,2022-08-01,1659376722,171425,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy
4,2022-08-01,1659374929,252384,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy
...,...,...,...,...,...,...
12292583,2022-08-11,1660246479,162851,0d3c58c6864546c689fa0997de484b30,18124998fd644e80b667a1d84bf63846,preview_click_response
12292584,2022-08-11,1660246106,136818,ef559274a81e4ff4b92aa3e9f6805886,5c71c1f1b7cf492ba05871c400a05250,preview_click_response
12292585,2022-08-11,1660250139,143721,c4453128ae584dca8f2a8d20a7c74263,33c968125459420e89ffbc8cffece317,preview_click_response
12292586,2022-08-11,1660250318,154423,c4453128ae584dca8f2a8d20a7c74263,33c968125459420e89ffbc8cffece317,preview_click_response
12292587,2022-08-11,1660215447,194140,42b24cc1337f43d2bf100ec3c612b510,4ca2f3f932534a3f8e61c2ed489444e9,preview_click_response

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12292588 entries, 0 to 12292587
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   event_date       object
 1   event_timestamp  int64
 2   vacancy_id_      int64
 3   cookie_id        object
 4   user_id          object
 5   event_type       object
dtypes: int64(2), object(4)
memory usage: 562.7+ MB

In [78]:
value = df['event_type'].value_counts()
value

event_type
show_vacancy              6198889
preview_click_vacancy     4781280
click_response             384090
click_contacts             277584
preview_click_response     190635
click_favorite             155844
preview_click_favorite     107016
preview_click_contacts     102050
click_phone                 79191
preview_click_phone         16009
Name: count, dtype: int64

In [79]:
k = []
for element in value:
    k.append(1 - (element / sum(value)))
k = pd.Series(k)
k.index = value.index
k

event_type
show_vacancy              0.495721
preview_click_vacancy     0.611044
click_response            0.968754
click_contacts            0.977419
preview_click_response    0.984492
click_favorite            0.987322
preview_click_favorite    0.991294
preview_click_contacts    0.991698
click_phone               0.993558
preview_click_phone       0.998698
dtype: float64

In [80]:
def rating(events, koef):
    data = []
    for event in events:
        data.append(k[event])
    return data

In [81]:
df['rating'] = rating(df.event_type, k)
df

,event_date,event_timestamp,vacancy_id_,cookie_id,user_id,event_type,rating
0,2022-08-01,1659323026,129850,97990f1a021d4be19aa3f955b7eacab4,951f53de61764ea0b51317200a0dbbfc,show_vacancy,0.495721
1,2022-08-01,1659377255,108347,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy,0.495721
2,2022-08-01,1659376695,109069,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy,0.495721
3,2022-08-01,1659376722,171425,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy,0.495721
4,2022-08-01,1659374929,252384,03bf8c511fa949c79845a5d81b09aa1d,f5a2326a17484330aa8cb4019f1b1960,show_vacancy,0.495721
...,...,...,...,...,...,...,...
12292583,2022-08-11,1660246479,162851,0d3c58c6864546c689fa0997de484b30,18124998fd644e80b667a1d84bf63846,preview_click_response,0.984492
12292584,2022-08-11,1660246106,136818,ef559274a81e4ff4b92aa3e9f6805886,5c71c1f1b7cf492ba05871c400a05250,preview_click_response,0.984492
12292585,2022-08-11,1660250139,143721,c4453128ae584dca8f2a8d20a7c74263,33c968125459420e89ffbc8cffece317,preview_click_response,0.984492
12292586,2022-08-11,1660250318,154423,c4453128ae584dca8f2a8d20a7c74263,33c968125459420e89ffbc8cffece317,preview_click_response,0.984492
12292587,2022-08-11,1660215447,194140,42b24cc1337f43d2bf100ec3c612b510,4ca2f3f932534a3f8e61c2ed489444e9,preview_click_response,0.984492

In [82]:
df_new = df[['cookie_id', 'vacancy_id_', 'rating']]
df_new

                                 cookie_id  vacancy_id_    rating
0         97990f1a021d4be19aa3f955b7eacab4       129850  0.495721
1         03bf8c511fa949c79845a5d81b09aa1d       108347  0.495721
2         03bf8c511fa949c79845a5d81b09aa1d       109069  0.495721
3         03bf8c511fa949c79845a5d81b09aa1d       171425  0.495721
4         03bf8c511fa949c79845a5d81b09aa1d       252384  0.495721
...                                    ...          ...       ...
12292583  0d3c58c6864546c689fa0997de484b30       162851  0.984492
12292584  ef559274a81e4ff4b92aa3e9f6805886       136818  0.984492
12292585  c4453128ae584dca8f2a8d20a7c74263       143721  0.984492
12292586  c4453128ae584dca8f2a8d20a7c74263       154423  0.984492
12292587  42b24cc1337f43d2bf100ec3c612b510       194140  0.984492

[12292588 rows x 3 columns]

In [83]:
df_g = df_new.copy()
df_g['vacancy_id'] = df_g['vacancy_id_']
df_g['client_id'] = df_g['cookie_id']
df_g

,cookie_id,vacancy_id_,rating,vacancy_id,client_id
0,97990f1a021d4be19aa3f955b7eacab4,129850,0.495721,129850,97990f1a021d4be19aa3f955b7eacab4
1,03bf8c511fa949c79845a5d81b09aa1d,108347,0.495721,108347,03bf8c511fa949c79845a5d81b09aa1d
2,03bf8c511fa949c79845a5d81b09aa1d,109069,0.495721,109069,03bf8c511fa949c79845a5d81b09aa1d
3,03bf8c511fa949c79845a5d81b09aa1d,171425,0.495721,171425,03bf8c511fa949c79845a5d81b09aa1d
4,03bf8c511fa949c79845a5d81b09aa1d,252384,0.495721,252384,03bf8c511fa949c79845a5d81b09aa1d
...,...,...,...,...,...
12292583,0d3c58c6864546c689fa0997de484b30,162851,0.984492,162851,0d3c58c6864546c689fa0997de484b30
12292584,ef559274a81e4ff4b92aa3e9f6805886,136818,0.984492,136818,ef559274a81e4ff4b92aa3e9f6805886
12292585,c4453128ae584dca8f2a8d20a7c74263,143721,0.984492,143721,c4453128ae584dca8f2a8d20a7c74263
12292586,c4453128ae584dca8f2a8d20a7c74263,154423,0.984492,154423,c4453128ae584dca8f2a8d20a7c74263
12292587,42b24cc1337f43d2bf100ec3c612b510,194140,0.984492,194140,42b24cc1337f43d2bf100ec3c612b510

In [84]:
df_g['cookie_id'] = df_g['cookie_id'].astype("category")
df_g['vacancy_id_'] = df_g['vacancy_id_'].astype("category")
df_g['cookie_id'] = df_g['cookie_id'].cat.codes
df_g['vacancy_id_'] = df_g['vacancy_id_'].cat.codes
df_g

,cookie_id,vacancy_id_,rating,vacancy_id,client_id
0,196572,29849,0.495721,129850,97990f1a021d4be19aa3f955b7eacab4
1,4860,8346,0.495721,108347,03bf8c511fa949c79845a5d81b09aa1d
2,4860,9068,0.495721,109069,03bf8c511fa949c79845a5d81b09aa1d
3,4860,71424,0.495721,171425,03bf8c511fa949c79845a5d81b09aa1d
4,4860,152383,0.495721,252384,03bf8c511fa949c79845a5d81b09aa1d
...,...,...,...,...,...
12292583,17191,62850,0.984492,162851,0d3c58c6864546c689fa0997de484b30
12292584,308843,36817,0.984492,136818,ef559274a81e4ff4b92aa3e9f6805886
12292585,253538,43720,0.984492,143721,c4453128ae584dca8f2a8d20a7c74263
12292586,253538,54422,0.984492,154423,c4453128ae584dca8f2a8d20a7c74263
12292587,86374,94139,0.984492,194140,42b24cc1337f43d2bf100ec3c612b510

In [85]:
df_g.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12292588 entries, 0 to 12292587
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   cookie_id    int32
 1   vacancy_id_  int32
 2   rating       float64
 3   vacancy_id   int64
 4   client_id    object
dtypes: float64(1), int32(2), int64(1), object(1)
memory usage: 375.1+ MB

In [86]:
df_grouped = df_g.copy()
df_grouped = df_grouped.drop(['vacancy_id', 'client_id'], axis=1)
df_grouped = df_grouped.groupby(['cookie_id', 'vacancy_id_']).sum().reset_index()
df_grouped.head(10)

   cookie_id  vacancy_id_    rating
0          0        37658  1.106765
1          0        53974  1.106765
2          0        74952  2.094087
3          0        76170  1.106765
4          0        82444  2.213530
5          0        87528  1.106765
6          1         6675  1.106765
7          1         8689  1.106765
8          1        15743  1.106765
9          1        69614  1.106765

In [13]:
sparse_vacancy_person = sparse.csr_matrix((df_grouped['rating'].astype(float), (df_grouped['vacancy_id_'], df_grouped['cookie_id'])))
sparse_person_vacancy = sparse.csr_matrix((df_grouped['rating'].astype(float), (df_grouped['cookie_id'], df_grouped['vacancy_id_'])))

model = implicit.als.AlternatingLeastSquares(factors=20, regularization=0.1, iterations=50)

alpha = 15
data = (sparse_person_vacancy * alpha).astype('double')
model.fit(data)

  0%|          | 0/50 [00:00<?, ?it/s]

In [15]:
content_id = 450
n_similar = 6

person_vecs = model.user_factors
vacancy_vecs = model.item_factors

vacancy_norms = np.sqrt((vacancy_vecs * vacancy_vecs).sum(axis=1))

scores = vacancy_vecs.dot(vacancy_vecs[content_id]) / vacancy_norms
top_idx = np.argpartition(scores, -n_similar)[-n_similar:]
similar = sorted(zip(top_idx, scores[top_idx] / vacancy_norms[content_id]), key=lambda x: -x[1])

for content in similar:
    idx, score = content
    print(df_grouped.vacancy_id_.loc[df_grouped.vacancy_id_ == idx].iloc[0])

450
34986
116302
70363
17385
42923

In [19]:
def recommend(person_id, sparse_person_vacancy, person_vecs, vacancy_vecs, num_contents=6):
    person_interactions = sparse_person_vacancy[person_id,:].toarray()
    person_interactions = person_interactions.reshape(-1) + 1
    person_interactions[person_interactions > 1] = 0
    rec_vector = person_vecs[person_id,:].dot(vacancy_vecs.T).toarray()
    
    min_max = MinMaxScaler()
    rec_vector_scaled = min_max.fit_transform(rec_vector.reshape(-1,1))[:,0]
    recommend_vector = person_interactions * rec_vector_scaled
    vacancy_idx = np.argsort(recommend_vector)[::-1][:num_contents]
    
    vacancy = []
    scores = []

    for idx in vacancy_idx:
        vacancy.append(df_grouped.vacancy_id_.loc[df_grouped.vacancy_id_ == idx].iloc[0])
        scores.append(recommend_vector[idx])
    
    return pd.DataFrame({'vacancy_ID': vacancy, 'score': scores})

In [20]:
person_vecs = sparse.csr_matrix(model.user_factors)
vacancy_vecs = sparse.csr_matrix(model.item_factors)

In [21]:
person_id = 0
recommendations = recommend(person_id, sparse_person_vacancy, person_vecs, vacancy_vecs)
print(recommendations)

   vacancy_ID     score
0       82869  1.000000
1       16822  0.993399
2       80381  0.901961
3       69193  0.876425
4       58241  0.857534
5       14582  0.844272

In [22]:
def user_id(cookie, dic):
    return dic.cookie_id.loc[dic.client_id == cookie].iloc[0]

In [23]:
df_sample = pd.read_parquet('./data/test_private_sample_submission_mfti.parquet', engine='pyarrow')
df_sample

,cookie_id,predictions
0,0018914ba3e54011b28fa715583d3354,"[100100, 100101, 100102, 100103, 100104]"
1,0035c298d8c64f368ae730a9cca9bb20,"[100100, 100101, 100102, 100103, 100104]"
2,00956458877448ec9fba87fb97443fdf,"[100100, 100101, 100102, 100103, 100104]"
3,0099387c921b41e7bae6c99dd8254b60,"[100100, 100101, 100102, 100103, 100104]"
4,009f65e8ae99413a8da94a491320580a,"[100100, 100101, 100102, 100103, 100104]"
...,...,...
3081,ffadd195859444d2ade2479b0611c5c1,"[100100, 100101, 100102, 100103, 100104]"
3082,ffbc08b528c64f22996873fc63872202,"[100100, 100101, 100102, 100103, 100104]"
3083,ffdeaf3c34544529880aebf17c103f6c,"[100100, 100101, 100102, 100103, 100104]"
3084,ffefa79a74804ee69e6c131e0d05b948,"[100100, 100101, 100102, 100103, 100104]"
3085,fff0c04c0cd54c67bb5fd79ae7b1145b,"[100100, 100101, 100102, 100103, 100104]"

In [24]:
print(user_id(df_sample['cookie_id'][1], df_g))

275

In [25]:
df_g.cookie_id.loc[df_g.client_id == 'ffefa79a74804ee69e6c131e0d05b948'].iloc[0]

330110

In [26]:
df_sample_users = []
for elm in df_sample['cookie_id']:
    df_sample_users.append(user_id(elm, df_g))
df_sample_users = pd.DataFrame(df_sample_users)

In [27]:
rec = []
for elm in df_sample_users[0]:
    rec.append(recommend(elm, sparse_person_vacancy, person_vecs, vacancy_vecs))
rec

[   vacancy_ID     score
 0       37701  1.000000
 1       17531  0.991740
 2      153816  0.988264
 3      150384  0.987057
 4      153945  0.979486
 5       38633  0.977630,
    vacancy_ID     score
 0       38122  1.000000
 1       50515  0.919170
 2        7525  0.915083
 3       35429  0.906054
 4       32615  0.883341
 5      154513  0.880125,
    vacancy_ID     score
 0      160153  1.000000
 1      153677  0.904712
 2      150326  0.874791
 3       71331  0.859919
 4      117682  0.859047
 5       16899  0.839755,
    vacancy_ID     score
 0       73336  1.000000
 1       53969  0.915769
 2       76397  0.816927
 3        3880  0.809677
 4       97406  0.807664
 5       15219  0.807066,
    vacancy_ID     score
 0       38122  1.000000
 1       50515  0.906573
 2         430  0.845846
 3       48685  0.838981
 4        7525  0.836924
 5       35429  0.818556,
    vacancy_ID     score
 0       98113  1.000000
 1      102607  0.997576
 2       64601  0.918392
 3       11504  0.910171
 4      103403  0.903369
 5       82869  0.878408,
    vacancy_ID     score
 0       10792  1.000000
 1      147534  0.963719
 2      129688  0.962558
 3       10791  0.953080
 4      146508  0.951392
 5       82083  0.926046,
    vacancy_ID     score
 0        4639  1.000000
 1      144317  0.965901
 2        2254  0.896896
 3      142144  0.894503
 4       15588  0.893858
 5      151533  0.880080,
    vacancy_ID     score
 0        2793  1.000000
 1        4639  0.998806
 2       15588  0.965473
 3      110228  0.961878
 4        6675  0.955062
 5       56860  0.946230,
    vacancy_ID     score
 0      160153  1.000000
 1      150326  0.952519
 2      117682  0.943970
 3      153677  0.918486
 4      119769  0.872527
 5       90927  0.870678,
    vacancy_ID     score
 0      160153  1.000000
 1        3880  0.909164
 2       53969  0.902182
 3        6942  0.900892
 4       73336  0.896528
 5       61648  0.875404,
    vacancy_ID     score
 0       73336  1.000000
 1       76397  0.990453
 2       15219  0.987752
 3       53969  0.963935
 4        3880  0.929143
 5       49283  0.906037,
    vacancy_ID     score
 0       11866  1.000000
 1      103403  0.968806
 2      147534  0.886572
 3       82869  0.815511
 4      107422  0.789281
 5        8241  0.787480,
    vacancy_ID     score
 0      117682  0.790289
 1      150326  0.786208
 2       38633  0.732029
 3       17531  0.658918
 4       28277  0.613274
 5       17524  0.606544,
    vacancy_ID     score
 0       35949  0.934288
 1       21183  0.898712
 2      132632  0.881350
 3       46642  0.869401
 4       19591  0.867850
 5       54410  0.862749,
    vacancy_ID     score
 0       45455  0.979685
 1      143574  0.971765
 2      156999  0.928018
 3       39418  0.914041
 4       10570  0.913909
 5      119265  0.901931,
    vacancy_ID     score
 0      147534  1.000000
 1       82083  0.904238
 2       11866  0.855978
 3      160153  0.840775
 4       10791  0.817404
 5       20251  0.794673,
    vacancy_ID     score
 0       98113  0.812232
 1       64601  0.727373
 2      102607  0.706628
 3      107422  0.674808
 4      107107  0.638649
 5        8241  0.624742,
    vacancy_ID     score
 0       90029  0.931812
 1       95402  0.885322
 2       14582  0.879023
 3      149570  0.847587
 4       86616  0.842094
 5      110627  0.841029,
    vacancy_ID     score
 0       11866  1.000000
 1      103403  0.998862
 2       90029  0.923766
 3      107107  0.864062
 4      147534  0.832743
 5      160153  0.807380,
    vacancy_ID     score
 0       64601  0.893296
 1       10791  0.869264
 2       98113  0.819710
 3       13481  0.818950
 4      127707  0.798638
 5      107107  0.774674,
    vacancy_ID     score
 0      130325  1.000000
 1      130321  0.992420
 2      148851  0.989450
 3       13706  0.954362
 4       26250  0.919052
 5       27886  0.912808,
    vacancy_ID     score
 0       48713  1.000000
 1       13481  0.887711
 2       10791  0.866809
 3       13304  0.863242
 4       10792  0.756637
 5       10420  0.750077,
    vacancy_ID     score
 0      117682  1.000000
 1      150326  0.987728
 2       17896  0.981869
 3      140662  0.965715
 4       65932  0.963658
 5       71079  0.961172,
    vacancy_ID     score
 0      135613  0.970577
 1        8851  0.966878
 2      114118  0.966711
 3       89316  0.965352
 4      148502  0.965181
 5       36816  0.964055,
    vacancy_ID     score
 0        8241  0.881907
 1       11504  0.822952
 2       10420  0.790464
 3        6943  0.789929
 4       49023  0.762473
 5       15923  0.743290,
    vacancy_ID     score
 0      130321  1.000000
 1      130325  0.982796
 2       27886  0.852047
 3       82878  0.811383
 4       33931  0.791016
 5       10791  0.760385,
    vacancy_ID     score
 0      120717  0.932652
 1      157870  0.925996
 2      112140  0.912906
 3       15419  0.907555
 4      157630  0.878103
 5      107422  0.874738,
    vacancy_ID     score
 0       98113  1.000000
 1      107107  0.930281
 2      160153  0.892171
 3      140743  0.880704
 4       64480  0.876713
 5      103403  0.870848,
    vacancy_ID     score
 0      103403  0.936266
 1       10791  0.883418
 2       64480  0.860505
 3        8240  0.817539
 4       48713  0.815250
 5       68934  0.803754,
    vacancy_ID     score
 0       10791  0.977360
 1      147275  0.936085
 2      139020  0.916973
 3       98113  0.889905
 4      103403  0.888639
 5        5906  0.886773,
    vacancy_ID     score
 0        4639  1.000000
 1        2793  0.980332
 2      144317  0.917544
 3      142144  0.890081
 4        6675  0.854987
 5       95355  0.821165,
    vacancy_ID     score
 0       16822  1.000000
 1        8241  0.883717
 2       80381  0.879997
 3       14582  0.868890
 4       20251  0.865427
 5       11504  0.859312,
    vacancy_ID     score
 0      107559  1.000000
 1       21183  0.994707
 2      135613  0.991813
 3       81744  0.990019
 4       71079  0.980898
 5        7881  0.980603,
    vacancy_ID     score
 0       11866  0.913903
 1       10791  0.838777
 2       82083  0.781296
 3       10792  0.726282
 4      103403  0.719161
 5        6292  0.695210,
    vacancy_ID     score
 0      157473  1.000000
 1       47797  0.988238
 2       23362  0.984943
 3        5973  0.983854
 4      141500  0.981984
 5        6227  0.980483,
    vacancy_ID     score
 0       73336  0.988981
 1       38482  0.967486
 2       97406  0.936220
 3       35583  0.907320
 4        6045  0.901714
 5      153946  0.901459,
    vacancy_ID     score
 0       13815  1.000000
 1        4528  0.973615
 2       47799  0.951031
 3       17190  0.948637
 4       61715  0.912071
 5      158377  0.906689,
    vacancy_ID     score
 0      160153  1.000000
 1      107422  0.752417
 2       38122  0.730264
 3         430  0.666347
 4      103403  0.662698
 5       93141  0.644323,
    vacancy_ID     score
 0       54410  0.847803
 1       81744  0.830422
 2       64480  0.822795
 3       68934  0.783147
 4       48713  0.767055
 5      107155  0.762944,
    vacancy_ID     score
 0      146569  1.000000
 1        1135  0.964699
 2       95786  0.930063
 3      122377  0.927447
 4      142709  0.924361
 5       85354  0.917518,
    vacancy_ID     score
 0      102607  1.000000
 1       98113  0.834452
 2      103403  0.737723
 3       64480  0.734615
 4       68934  0.665365
 5       82869  0.663154,
    vacancy_ID     score
 0      157473  1.000000
 1        5973  0.995771
 2       23362  0.994106
 3      141500  0.993194
 4        6227  0.990804
 5       97637  0.989973,
    vacancy_ID     score
 0        8241  1.000000
 1       98113  0.956962
 2       49023  0.956560
 3      102607  0.848535
 4       82869  0.806625
 5       15923  0.785924,
    vacancy_ID     score
 0      146569  1.000000
 1      142709  0.960871
 2      156215  0.953690
 3        1135  0.934808
 4        3017  0.933115
 5       36871  0.930180,
    vacancy_ID     score
 0       10791  0.975839
 1       48713  0.903569
 2       10792  0.891334
 3      137340  0.858643
 4      127707  0.835150
 5        9078  0.824864,
    vacancy_ID     score
 0      127707  0.897654
 1       64601  0.896728
 2      107107  0.862810
 3      142641  0.860466
 4       11504  0.792531
 5        9078  0.771905,
    vacancy_ID     score
 0       38122  1.000000
 1       50515  0.897026
 2         430  0.831321
 3       48685  0.830755
 4      114465  0.810313
 5       93141  0.801278,
    vacancy_ID     score
 0      130325  1.000000
 1      130321  0.984198
 2       58696  0.951599
 3       42618  0.906062
 4       32004  0.899031
 5       82878  0.897366,
    vacancy_ID     score
 0       81744  1.000000
 1       54410  0.964748
 2       21183  0.934132
 3      144076  0.931168
 4        7881  0.927416
 5      107559  0.922186,
    vacancy_ID     score
 0       14582  1.000000
 1       17531  0.980816
 2       17524  0.901113
 3      150384  0.892082
 4       69193  0.879127
 5      107422  0.866330,
    vacancy_ID     score
 0       38633  0.634721
 1       17531  0.587964
 2      142641  0.574243
 3       28277  0.564481
 4      153677  0.562997
 5      158440  0.556656,
    vacancy_ID     score
 0      160153  0.950688
 1       14917  0.811455
 2       38122  0.811219
 3       11504  0.781735
 4      142641  0.764168
 5       64601  0.759614,
    vacancy_ID     score
 0       76397  1.000000
 1       15219  0.987129
 2       49283  0.971140
 3       53969  0.934157
 4        6942  0.921330
 5       73336  0.911973,
    vacancy_ID     score
 0      160153  1.000000
 1       17524  0.931011
 2       24852  0.868588
 3       17531  0.825559
 4       71414  0.796249
 5      153677  0.781904,
    vacancy_ID     score
 0      160153  1.000000
 1       38122  0.879378
 2      156497  0.798749
 3       23590  0.790078
 4      114465  0.787086
 5         430  0.785525,
    vacancy_ID     score
 0       38633  1.000000
 1       37701  0.973135
 2       28277  0.954523
 3      153816  0.909062
 4      153945  0.891693
 5       14851  0.887309,
    vacancy_ID     score
 0      160153  0.858415
 1       11504  0.851787
 2       64601  0.851260
 3       10791  0.805100
 4       13304  0.788943
 5      137340  0.783179,
    vacancy_ID     score
 0      107422  1.000000
 1      137340  0.958865
 2       38122  0.928375
 3      130706  0.924679
 4      103403  0.908236
 5      120717  0.894315,
    vacancy_ID     score
 0      117682  0.969470
 1      124388  0.875813
 2       85353  0.794140
 3       49529  0.776470
 4       52159  0.774385
 5       45454  0.767866,
    vacancy_ID     score
 0      160153  1.000000
 1      150326  0.909634
 2      117682  0.895765
 3       90927  0.812277
 4      109421  0.802012
 5       71331  0.747374,
    vacancy_ID     score
 0       55538  0.960101
 1       76045  0.939473
 2       98347  0.892262
 3      144993  0.878060
 4        6625  0.875052
 5       48117  0.840863,
    vacancy_ID     score
 0      141039  1.000000
 1       13471  0.925532
 2        8062  0.907219
 3       57785  0.866445
 4       48894  0.864425
 5      157378  0.856425,
    vacancy_ID     score
 0        7948  1.000000
 1       46443  0.993963
 2       35415  0.952344
 3        7525  0.949413
 4       32615  0.945989
 5       35429  0.938462,
    vacancy_ID     score
 0      146569  1.000000
 1      142709  0.913545
 2       95786  0.902797
 3      156215  0.891376
 4      122377  0.881299
 5       85354  0.874056,
    vacancy_ID     score
 0       11866  0.958425
 1      142709  0.897478
 2       95786  0.894455
 3      156215  0.858116
 4      140431  0.853586
 5       85354  0.851861,
    vacancy_ID     score
 0      146508  1.000000
 1       53943  0.928233
 2        3712  0.909051
 3        9156  0.898703
 4      103568  0.890843
 5      128654  0.873622,
    vacancy_ID     score
 0       55538  0.935492
 1       87359  0.887833
 2      130325  0.857683
 3      130321  0.846029
 4       76045  0.831163
 5       32004  0.829273,
    vacancy_ID     score
 0      160153  1.000000
 1      102607  0.956902
 2       98113  0.901211
 3       64480  0.886238
 4       68934  0.847678
 5      117682  0.823127,
    vacancy_ID     score
 0       13481  0.960662
 1      103403  0.928316
 2      112986  0.927691
 3      130706  0.919160
 4      121107  0.916291
 5       40916  0.915537,
    vacancy_ID     score
 0       64601  1.000000
 1       98113  0.908268
 2        8241  0.860777
 3      107422  0.809034
 4      142641  0.802358
 5      127707  0.782458,
    vacancy_ID     score
 0      142641  1.000000
 1        8241  0.942018
 2       64601  0.936741
 3       11504  0.908302
 4      107107  0.842254
 5      120717  0.836043,
    vacancy_ID     score
 0      107422  0.935564
 1       98113  0.894219
 2      107107  0.868513
 3      102607  0.798710
 4        8241  0.769276
 5       11504  0.758967,
    vacancy_ID     score
 0      147298  1.000000
 1      129688  0.986412
 2        9244  0.971411
 3       15976  0.936625
 4       23466  0.934349
 5      106339  0.918930,
    vacancy_ID     score
 0       10420  1.000000
 1        8241  0.941515
 2      142641  0.887042
 3      149570  0.868971
 4       27351  0.815624
 5       44112  0.813730,
    vacancy_ID     score
 0       11889  1.000000
 1      141133  0.921344
 2       11866  0.894174
 3      103403  0.892388
 4      142897  0.887454
 5      142144  0.871031,
    vacancy_ID     score
 0        2793  1.000000
 1        6675  0.894715
 2      110228  0.878166
 3      144317  0.865989
 4       63707  0.843781
 5       52045  0.838917,
    vacancy_ID     score
 0       48713  1.000000
 1      143867  0.912201
 2       10420  0.901404
 3       13481  0.899929
 4      150326  0.896723
 5      140743  0.889919,
    vacancy_ID     score
 0      160153  1.000000
 1       38633  0.854846
 2      117682  0.824529
 3      150326  0.819838
 4       17531  0.744908
 5       28277  0.739945,
    vacancy_ID     score
 0      103403  1.000000
 1       98113  0.934852
 2       10791  0.864195
 3       10792  0.725772
 4       11504  0.715131
 5       76140  0.709374,
    vacancy_ID     score
 0      130321  1.000000
 1      130325  0.957919
 2       98113  0.921544
 3       64601  0.918661
 4       36513  0.892536
 5       27886  0.879232,
    vacancy_ID     score
 0       90927  0.967397
 1        1395  0.967130
 2       71331  0.955700
 3       64235  0.953225
 4      145951  0.935707
 5      153677  0.923784,
    vacancy_ID     score
 0      153945  1.000000
 1      153816  0.983414
 2       17531  0.953343
 3       28277  0.938871
 4      108760  0.924266
 5       38633  0.919430,
    vacancy_ID     score
 0       14582  1.000000
 1      107422  0.920860
 2       17531  0.894432
 3       17524  0.877841
 4       69193  0.877332
 5      150384  0.844034,
    vacancy_ID     score
 0      146569  1.000000
 1      156215  0.980129
 2      142709  0.970747
 3        3017  0.964455
 4       36871  0.961645
 5       85354  0.955798,
    vacancy_ID     score
 0       10791  1.000000
 1      147275  0.917799
 2      140743  0.915320
 3       48713  0.898134
 4       10792  0.890451
 5      139020  0.824440,
    vacancy_ID     score
 0       48713  0.887009
 1      146508  0.822988
 2      142641  0.782712
 3      147534  0.779814
 4       13481  0.734257
 5      148851  0.710443,
    vacancy_ID     score
 0      143867  0.944715
 1        4639  0.903848
 2        6675  0.900350
 3       65669  0.842177
 4      144317  0.805912
 5        4012  0.801088,
    vacancy_ID     score
 0       50515  1.000000
 1       48685  0.951405
 2       38122  0.730139
 3        7525  0.728486
 4       46443  0.700499
 5      159393  0.688556,
    vacancy_ID     score
 0       45455  1.000000
 1       45454  0.957433
 2      142144  0.882404
 3      150128  0.875815
 4       10570  0.872583
 5       46565  0.864981,
    vacancy_ID     score
 0       64601  0.938063
 1      102607  0.899008
 2      107107  0.845035
 3       11504  0.844000
 4        8241  0.838160
 5       15923  0.726268,
    vacancy_ID     score
 0        5906  0.903049
 1       10792  0.848414
 2      139020  0.846684
 3       29786  0.804879
 4       76140  0.799360
 5       48713  0.786119,
    vacancy_ID     score
 0       15976  1.000000
 1      134114  0.978338
 2        2895  0.923650
 3        6728  0.918836
 4      147298  0.918076
 5      147303  0.914512,
    vacancy_ID     score
 0       64245  1.000000
 1        6728  0.991051
 2      157746  0.986136
 3       83703  0.983135
 4      101311  0.979165
 5      134114  0.978460,
    vacancy_ID     score
 0       98113  0.884150
 1      103403  0.845051
 2        8241  0.783364
 3       11504  0.760298
 4       82869  0.746455
 5       62186  0.701449,
    vacancy_ID     score
 0      150326  1.000000
 1       81744  0.932609
 2       17896  0.929596
 3       71079  0.915409
 4      140662  0.903282
 5       65932  0.897469,
    vacancy_ID     score
 0       71079  1.000000
 1      140662  0.985716
 2       65932  0.982203
 3      135613  0.979865
 4       81744  0.979196
 5      107559  0.967652,
    vacancy_ID     score
 0      160153  1.000000
 1       64480  0.889895
 2       68934  0.828762
 3      117682  0.814655
 4      150326  0.809715
 5      107155  0.804950,
    vacancy_ID     score
 0       17524  0.851970
 1       17531  0.804235
 2       38633  0.758875
 3       24852  0.725761
 4      117682  0.689283
 5      150326  0.650401,
    vacancy_ID     score
 0       11504  0.969752
 1      107422  0.894306
 2       48713  0.886715
 3       64601  0.881010
 4       10792  0.877476
 5      110627  0.840179,
    vacancy_ID     score
 0      103403  1.000000
 1      106543  0.964187
 2      140743  0.926762
 3       10791  0.925418
 4      107422  0.922949
 5       64601  0.915959,
    vacancy_ID     score
 0       87359  1.000000
 1       76045  0.938815
 2      144993  0.938285
 3       48117  0.931187
 4      128571  0.920882
 5        6625  0.905910,
    vacancy_ID     score
 0      103403  1.000000
 1       48713  0.986139
 2      102607  0.974182
 3       17262  0.920431
 4       64601  0.917137
 5      137340  0.890008,
    vacancy_ID     score
 0      102607  1.000000
 1      103403  0.844905
 2       64601  0.739519
 3        8241  0.695105
 4       11504  0.641064
 5       11866  0.639123,
    vacancy_ID     score
 0      150326  0.918247
 1      117682  0.908884
 2       17524  0.733530
 3       17531  0.729137
 4        1395  0.728360
 5      145951  0.718249,
    vacancy_ID     score
 0      130321  0.952430
 1      130325  0.921679
 2      121348  0.892120
 3      121418  0.864552
 4       64601  0.848239
 5       42618  0.839499,
    vacancy_ID     score
 0      160153  1.000000
 1       17531  0.783274
 2      117682  0.767066
 3       38633  0.737685
 4      150326  0.710942
 5       24852  0.694536,
    vacancy_ID     score
 0      117682  0.999392
 1       71079  0.918752
 2       81744  0.907977
 3      135613  0.906348
 4       17896  0.906326
 5        8851  0.898059,
    vacancy_ID     score
 0      150326  0.885666
 1      117682  0.875262
 2       38633  0.840911
 3        4639  0.827119
 4      143867  0.819929
 5       28277  0.818493,
    vacancy_ID     score
 0      137340  1.000000
 1      140743  0.909534
 2      103403  0.898082
 3      127707  0.870353
 4       64601  0.791223
 5      107107  0.789085,
    vacancy_ID     score
 0      159393  1.000000
 1       19538  0.990350
 2       15695  0.984700
 3      158954  0.968168
 4       13087  0.967231
 5       81352  0.962746,
    vacancy_ID     score
 0      107155  1.000000
 1       64480  0.949571
 2       68934  0.938567
 3       72736  0.905226
 4       90470  0.866433
 5       85353  0.865467,
    vacancy_ID     score
 0       17531  0.905649
 1      150384  0.905337
 2       28277  0.900138
 3      147298  0.900080
 4       82381  0.890033
 5       53969  0.874829,
    vacancy_ID     score
 0       38633  0.834171
 1       17531  0.754802
 2       28277  0.734457

In [35]:
predicted_vacancies = []
for elm in rec:
    predicted_vacancies.append(elm['vacancy_ID'])
predicted_vacancies

[0     37701
 1     17531
 2    153816
 3    150384
 4    153945
 5     38633
 Name: vacancy_ID, dtype: int32,
 0     38122
 1     50515
 2      7525
 3     35429
 4     32615
 5    154513
 Name: vacancy_ID, dtype: int32,
 0    160153
 1    153677
 2    150326
 3     71331
 4    117682
 5     16899
 Name: vacancy_ID, dtype: int32,
 0    73336
 1    53969
 2    76397
 3     3880
 4    97406
 5    15219
 Name: vacancy_ID, dtype: int32,
 0    38122
 1    50515
 2      430
 3    48685
 4     7525
 5    35429
 Name: vacancy_ID, dtype: int32,
 0     98113
 1    102607
 2     64601
 3     11504
 4    103403
 5     82869
 Name: vacancy_ID, dtype: int32,
 0     10792
 1    147534
 2    129688
 3     10791
 4    146508
 5     82083
 Name: vacancy_ID, dtype: int32,
 0      4639
 1    144317
 2      2254
 3    142144
 4     15588
 5    151533
 Name: vacancy_ID, dtype: int32,
 0      2793
 1      4639
 2     15588
 3    110228
 4      6675
 5     56860
 Name: vacancy_ID, dtype: int32,
 0    160153
 1    150326
 2    117682
 3    153677
 4    119769
 5     90927
 Name: vacancy_ID, dtype: int32,
 0    160153
 1      3880
 2     53969
 3      6942
 4     73336
 5     61648
 Name: vacancy_ID, dtype: int32,
 0    73336
 1    76397
 2    15219
 3    53969
 4     3880
 5    49283
 Name: vacancy_ID, dtype: int32,
 0     11866
 1    103403
 2    147534
 3     82869
 4    107422
 5      8241
 Name: vacancy_ID, dtype: int32,
 0    117682
 1    150326
 2     38633
 3     17531
 4     28277
 5     17524
 Name: vacancy_ID, dtype: int32,
 0     35949
 1     21183
 2    132632
 3     46642
 4     19591
 5     54410
 Name: vacancy_ID, dtype: int32,
 0     45455
 1    143574
 2    156999
 3     39418
 4     10570
 5    119265
 Name: vacancy_ID, dtype: int32,
 0    147534
 1     82083
 2     11866
 3    160153
 4     10791
 5     20251
 Name: vacancy_ID, dtype: int32,
 0     98113
 1     64601
 2    102607
 3    107422
 4    107107
 5      8241
 Name: vacancy_ID, dtype: int32,
 0     90029
 1     95402
 2     14582
 3    149570
 4     86616
 5    110627
 Name: vacancy_ID, dtype: int32,
 0     11866
 1    103403
 2     90029
 3    107107
 4    147534
 5    160153
 Name: vacancy_ID, dtype: int32,
 0     64601
 1     10791
 2     98113
 3     13481
 4    127707
 5    107107
 Name: vacancy_ID, dtype: int32,
 0    130325
 1    130321
 2    148851
 3     13706
 4     26250
 5     27886
 Name: vacancy_ID, dtype: int32,
 0    48713
 1    13481
 2    10791
 3    13304
 4    10792
 5    10420
 Name: vacancy_ID, dtype: int32,
 0    117682
 1    150326
 2     17896
 3    140662
 4     65932
 5     71079
 Name: vacancy_ID, dtype: int32,
 0    135613
 1      8851
 2    114118
 3     89316
 4    148502
 5     36816
 Name: vacancy_ID, dtype: int32,
 0     8241
 1    11504
 2    10420
 3     6943
 4    49023
 5    15923
 Name: vacancy_ID, dtype: int32,
 0    130321
 1    130325
 2     27886
 3     82878
 4     33931
 5     10791
 Name: vacancy_ID, dtype: int32,
 0    120717
 1    157870
 2    112140
 3     15419
 4    157630
 5    107422
 Name: vacancy_ID, dtype: int32,
 0     98113
 1    107107
 2    160153
 3    140743
 4     64480
 5    103403
 Name: vacancy_ID, dtype: int32,
 0    103403
 1     10791
 2     64480
 3      8240
 4     48713
 5     68934
 Name: vacancy_ID, dtype: int32,
 0     10791
 1    147275
 2    139020
 3     98113
 4    103403
 5      5906
 Name: vacancy_ID, dtype: int32,
 0      4639
 1      2793
 2    144317
 3    142144
 4      6675
 5     95355
 Name: vacancy_ID, dtype: int32,
 0    16822
 1     8241
 2    80381
 3    14582
 4    20251
 5    11504
 Name: vacancy_ID, dtype: int32,
 0    107559
 1     21183
 2    135613
 3     81744
 4     71079
 5      7881
 Name: vacancy_ID, dtype: int32,
 0     11866
 1     10791
 2     82083
 3     10792
 4    103403
 5      6292
 Name: vacancy_ID, dtype: int32,
 0    157473
 1     47797
 2     23362
 3      5973
 4    141500
 5      6227
 Name: vacancy_ID, dtype: int32,
 0     73336
 1     38482
 2     97406
 3     35583
 4      6045
 5    153946
 Name: vacancy_ID, dtype: int32,
 0     13815
 1      4528
 2     47799
 3     17190
 4     61715
 5    158377
 Name: vacancy_ID, dtype: int32,
 0    160153
 1    107422
 2     38122
 3       430
 4    103403
 5     93141
 Name: vacancy_ID, dtype: int32,
 0     54410
 1     81744
 2     64480
 3     68934
 4     48713
 5    107155
 Name: vacancy_ID, dtype: int32,
 0    146569
 1      1135
 2     95786
 3    122377
 4    142709
 5     85354
 Name: vacancy_ID, dtype: int32,
 0    102607
 1     98113
 2    103403
 3     64480
 4     68934
 5     82869
 Name: vacancy_ID, dtype: int32,
 0    157473
 1      5973
 2     23362
 3    141500
 4      6227
 5     97637
 Name: vacancy_ID, dtype: int32,
 0      8241
 1     98113
 2     49023
 3    102607
 4     82869
 5     15923
 Name: vacancy_ID, dtype: int32,
 0    146569
 1    142709
 2    156215
 3      1135
 4      3017
 5     36871
 Name: vacancy_ID, dtype: int32,
 0     10791
 1     48713
 2     10792
 3    137340
 4    127707
 5      9078
 Name: vacancy_ID, dtype: int32,
 0    127707
 1     64601
 2    107107
 3    142641
 4     11504
 5      9078
 Name: vacancy_ID, dtype: int32,
 0     38122
 1     50515
 2       430
 3     48685
 4    114465
 5     93141
 Name: vacancy_ID, dtype: int32,
 0    130325
 1    130321
 2     58696
 3     42618
 4     32004
 5     82878
 Name: vacancy_ID, dtype: int32,
 0     81744
 1     54410
 2     21183
 3    144076
 4      7881
 5    107559
 Name: vacancy_ID, dtype: int32,
 0     14582
 1     17531
 2     17524
 3    150384
 4     69193
 5    107422
 Name: vacancy_ID, dtype: int32,
 0     38633
 1     17531
 2    142641
 3     28277
 4    153677
 5    158440
 Name: vacancy_ID, dtype: int32,
 0    160153
 1     14917
 2     38122
 3     11504
 4    142641
 5     64601
 Name: vacancy_ID, dtype: int32,
 0    76397
 1    15219
 2    49283
 3    53969
 4     6942
 5    73336
 Name: vacancy_ID, dtype: int32,
 0    160153
 1     17524
 2     24852
 3     17531
 4     71414
 5    153677
 Name: vacancy_ID, dtype: int32,
 0    160153
 1     38122
 2    156497
 3     23590
 4    114465
 5       430
 Name: vacancy_ID, dtype: int32,
 0     38633
 1     37701
 2     28277
 3    153816
 4    153945
 5     14851
 Name: vacancy_ID, dtype: int32,
 0    160153
 1     11504
 2     64601
 3     10791
 4     13304
 5    137340
 Name: vacancy_ID, dtype: int32,
 0    107422
 1    137340
 2     38122
 3    130706
 4    103403
 5    120717
 Name: vacancy_ID, dtype: int32,
 0    117682
 1    124388
 2     85353
 3     49529
 4     52159
 5     45454
 Name: vacancy_ID, dtype: int32,
 0    160153
 1    150326
 2    117682
 3     90927
 4    109421
 5     71331
 Name: vacancy_ID, dtype: int32,
 0     55538
 1     76045
 2     98347
 3    144993
 4      6625
 5     48117
 Name: vacancy_ID, dtype: int32,
 0    141039
 1     13471
 2      8062
 3     57785
 4     48894
 5    157378
 Name: vacancy_ID, dtype: int32,
 0     7948
 1    46443
 2    35415
 3     7525
 4    32615
 5    35429
 Name: vacancy_ID, dtype: int32,
 0    146569
 1    142709
 2     95786
 3    156215
 4    122377
 5     85354
 Name: vacancy_ID, dtype: int32,
 0     11866
 1    142709
 2     95786
 3    156215
 4    140431
 5     85354
 Name: vacancy_ID, dtype: int32,
 0    146508
 1     53943
 2      3712
 3      9156
 4    103568
 5    128654
 Name: vacancy_ID, dtype: int32,
 0     55538
 1     87359
 2    130325
 3    130321
 4     76045
 5     32004
 Name: vacancy_ID, dtype: int32,
 0    160153
 1    102607
 2     98113
 3     64480
 4     68934
 5    117682
 Name: vacancy_ID, dtype: int32,
 0     13481
 1    103403
 2    112986
 3    130706
 4    121107
 5     40916
 Name: vacancy_ID, dtype: int32,
 0     64601
 1     98113
 2      8241
 3    107422
 4    142641
 5    127707
 Name: vacancy_ID, dtype: int32,
 0    142641
 1      8241
 2     64601
 3     11504
 4    107107
 5    120717
 Name: vacancy_ID, dtype: int32,
 0    107422
 1     98113
 2    107107
 3    102607
 4      8241
 5     11504
 Name: vacancy_ID, dtype: int32,
 0    147298
 1    129688
 2      9244
 3     15976
 4     23466
 5    106339
 Name: vacancy_ID, dtype: int32,
 0     10420
 1      8241
 2    142641
 3    149570
 4     27351
 5     44112
 Name: vacancy_ID, dtype: int32,
 0     11889
 1    141133
 2     11866
 3    103403
 4    142897
 5    142144
 Name: vacancy_ID, dtype: int32,
 0      2793
 1      6675
 2    110228
 3    144317
 4     63707
 5     52045
 Name: vacancy_ID, dtype: int32,
 0     48713
 1    143867
 2     10420
 3     13481
 4    150326
 5    140743
 Name: vacancy_ID, dtype: int32,
 0    160153
 1     38633
 2    117682
 3    150326
 4     17531
 5     28277
 Name: vacancy_ID, dtype: int32,
 0    103403
 1     98113
 2     10791
 3     10792
 4     11504
 5     76140
 Name: vacancy_ID, dtype: int32,
 0    130321
 1    130325
 2     98113
 3     64601
 4     36513
 5     27886
 Name: vacancy_ID, dtype: int32,
 0     90927
 1      1395
 2     71331
 3     64235
 4    145951
 5    153677
 Name: vacancy_ID, dtype: int32,
 0    153945
 1    153816
 2     17531
 3     28277
 4    108760
 5     38633
 Name: vacancy_ID, dtype: int32,
 0     14582
 1    107422
 2     17531
 3     17524
 4     69193
 5    150384
 Name: vacancy_ID, dtype: int32,
 0    146569
 1    156215
 2    142709
 3      3017
 4     36871
 5     85354
 Name: vacancy_ID, dtype: int32,
 0     10791
 1    147275
 2    140743
 3     48713
 4     10792
 5    139020
 Name: vacancy_ID, dtype: int32,
 0     48713
 1    146508
 2    142641
 3    147534
 4     13481
 5    148851
 Name: vacancy_ID, dtype: int32,
 0    143867
 1      4639
 2      6675
 3     65669
 4    144317
 5      4012
 Name: vacancy_ID, dtype: int32,
 0     50515
 1     48685
 2     38122
 3      7525
 4     46443
 5    159393
 Name: vacancy_ID, dtype: int32,
 0     45455
 1     45454
 2    142144
 3    150128
 4     10570
 5     46565
 Name: vacancy_ID, dtype: int32,
 0     64601
 1    102607
 2    107107
 3     11504
 4      8241
 5     15923
 Name: vacancy_ID, dtype: int32,
 0      5906
 1     10792
 2    139020
 3     29786
 4     76140
 5     48713
 Name: vacancy_ID, dtype: int32,
 0     15976
 1    134114
 2      2895
 3      6728
 4    147298
 5    147303
 Name: vacancy_ID, dtype: int32,
 0     64245
 1      6728
 2    157746
 3     83703
 4    101311
 5    134114
 Name: vacancy_ID, dtype: int32,
 0     98113
 1    103403
 2      8241
 3     11504
 4     82869
 5     62186
 Name: vacancy_ID, dtype: int32,
 0    150326
 1     81744
 2     17896
 3     71079
 4    140662
 5     65932
 Name: vacancy_ID, dtype: int32,
 0     71079
 1    140662
 2     65932
 3    135613
 4     81744
 5    107559
 Name: vacancy_ID, dtype: int32,
 0    160153
 1     64480
 2     68934
 3    117682
 4    150326
 5    107155
 Name: vacancy_ID, dtype: int32,
 0     17524
 1     17531
 2     38633
 3     24852
 4    117682
 5    150326
 Name: vacancy_ID, dtype: int32,
 0     11504
 1    107422
 2     48713
 3     64601
 4     10792
 5    110627
 Name: vacancy_ID, dtype: int32,
 0    103403
 1    106543
 2    140743
 3     10791
 4    107422
 5     64601
 Name: vacancy_ID, dtype: int32,
 0     87359
 1     76045
 2    144993
 3     48117
 4    128571
 5      6625
 Name: vacancy_ID, dtype: int32,
 0    103403
 1     48713
 2    102607
 3     17262
 4     64601
 5    137340
 Name: vacancy_ID, dtype: int32,
 0    102607
 1    103403
 2     64601
 3      8241
 4     11504
 5     11866
 Name: vacancy_ID, dtype: int32,
 0    150326
 1    117682
 2     17524
 3     17531
 4      1395
 5    145951
 Name: vacancy_ID, dtype: int32,
 0    130321
 1    130325
 2    121348
 3    121418
 4     64601
 5     42618
 Name: vacancy_ID, dtype: int32,
 0    160153
 1     17531
 2    117682
 3     38633
 4    150326
 5     24852
 Name: vacancy_ID, dtype: int32,
 0    117682
 1     71079
 2     81744
 3    135613
 4     17896
 5      8851
 Name: vacancy_ID, dtype: int32,
 0    150326
 1    117682
 2     38633
 3      4639
 4    143867
 5     28277
 Name: vacancy_ID, dtype: int32,
 0    137340
 1    140743
 2    103403
 3    127707
 4     64601
 5    107107
 Name: vacancy_ID, dtype: int32,
 0    159393
 1     19538
 2     15695
 3    158954
 4     13087
 5     81352
 Name: vacancy_ID, dtype: int32,
 0    107155
 1     64480
 2     68934
 3     72736
 4     90470
 5     85353
 Name: vacancy_ID, dtype: int32,
 0     17531
 1    150384
 2     28277
 3    147298
 4     82381
 5     53969
 Name: vacancy_ID, dtype: int32,
 0     38633
 1     17531
 2     28277
 3     82381
 4     24852
 5    117682
 Name: vacancy_ID, dtype: int32,
 0    103403
 1    117682
 2    150326
 3    107422
 4    102607
 5      5906
 Name: vacancy_ID, dtype: int32,
 0    147534
 1    103403
 2    146508
 3    107422
 4    110627
 5    114512
 Name: vacancy_ID, dtype: int32,
 0    107422
 1    130706
 2    120717
 3    137340
 4    157630
 5     15419
 Name: vacancy_ID, dtype: int32,
 0     49529
 1     45704
 2     59331
 3    124388
 4    100574
 5     57475
 Name: vacancy_ID, dtype: int32,
 0     87359
 1     76045
 2    144993
 3     98347
 4     55538
 5      6625
 Name: vacancy_ID, dtype: int32,
 0    53969
 1     6942
 2    49283
 3    76397
 4    15219
 5    98113
 Name: vacancy_ID, dtype: int32,
 0      4639
 1      2793
 2     98113
 3    142144
 4    102607
 5    144317
 Name: vacancy_ID, dtype: int32,
 0    130325
 1    130321
 2     27886
 3     82878
 4     33931
 5     36513
 Name: vacancy_ID, dtype: int32,
 0    160153
 1     14582
 2     69193
 3    107422
 4     73336
 5     61648
 Name: vacancy_ID, dtype: int32,
 0     98113
 1     11504
 2    142641
 3    102607
 4    137340
 5    127707
 Name: vacancy_ID, dtype: int32,
 0    144076
 1     21183
 2      9684
 3     13017
 4      7881
 5    107559
 Name: vacancy_ID, dtype: int32,
 0      8241
 1    103403
 2     16822
 3     98113
 4     14582
 5    107107
 Name: vacancy_ID, dtype: int32,
 0    146284
 1     22613
 2    119769
 3     16899
 4    156131
 5      1461
 Name: vacancy_ID, dtype: int32,
 0    160153
 1    150326
 2    117682
 3     17531
 4     71331
 5    153677
 Name: vacancy_ID, dtype: int32,
 0    50515
 1    38122
 2    48685
 3    14917
 4     7525
 5    25651
 Name: vacancy_ID, dtype: int32,
 0     38633
 1    160153
 2     17531
 3     28277
 4     37701
 5     82381
 Name: vacancy_ID, dtype: int32,
 0    82869
 1    74952
 2    80381
 3    93330
 4    20251
 5    14582
 Name: vacancy_ID, dtype: int32,
 0     48713
 1     10792
 2     13481
 3     13304
 4    140743
 5    139020
 Name: vacancy_ID, dtype: int32,
 0     11504
 1     26250
 2    142641
 3     11591
 4     11940
 5     10420
 Name: vacancy_ID, dtype: int32,
 0    107107
 1     64601
 2    106349
 3    127707
 4    103403
 5      6943
 Name: vacancy_ID, dtype: int32,
 0    160153
 1    117682
 2    143867
 3     38633
 4     55538
 5     17531
 Name: vacancy_ID, dtype: int32,
 0    160153
 1     38122
 2    107422
 3     50515
 4    146508
 5    103403
 Name: vacancy_ID, dtype: int32,
 0     24852
 1    160153
 2      8624
 3    146569
 4    142709
 5    156215
 Name: vacancy_ID, dtype: int32,
 0     48713
 1    142641
 2     64601
 3     13481
 4     13304
 5      8241
 Name: vacancy_ID, dtype: int32,
 0     15747
 1    150326
 2     48713
 3    117682
 4    143867
 5    160153
 Name: vacancy_ID, dtype: int32,
 0    150326
 1    117682
 2     38633
 3      6942
 4     53969
 5    142641
 Name: vacancy_ID, dtype: int32,
 0    150384
 1     38633
 2     24852
 3     17524
 4     28277
 5     17531
 Name: vacancy_ID, dtype: int32,
 0    160153
 1     11504
 2      8241
 3    107107
 4    142641
 5    103403
 Name: vacancy_ID, dtype: int32,
 0     64480
 1    103403
 2     68934
 3    160153
 4    107422
 5    102607
 Name: vacancy_ID, dtype: int32,
 0     38482
 1    152638
 2     69193
 3     38633
 4    153240
 5    153946
 Name: vacancy_ID, dtype: int32,
 0    137340
 1     11504
 2     48713
 3    127707
 4    107107
 5      9078
 Name: vacancy_ID, dtype: int32,
 0    147298
 1     82381
 2     38633
 3     37701
 4     28277
 5    153816
 Name: vacancy_ID, dtype: int32,
 0     11866
 1     50282
 2    158440
 3     27351
 4     36265
 5     51615
 Name: vacancy_ID, dtype: int32,
 0    160153
 1     38122
 2    114465
 3    159922
 4    156526
 5     37641
 Name: vacancy_ID, dtype: int32,
 0     46629
 1     17524
 2    115619
 3     71414
 4     85912
 5    146814
 Name: vacancy_ID, dtype: int32,
 0    62186
 1    64587
 2     5906
 3    82869
 4    29786
 5    74952
 Name: vacancy_ID, dtype: int32,
 0     81744
 1     54410
 2      7881
 3     21183
 4     71079
 5    107559
 Name: vacancy_ID, dtype: int32,
 0     73336
 1     53969
 2      3880
 3     38482
 4     15219
 5    152638
 Name: vacancy_ID, dtype: int32,
 0    160153
 1     38633
 2     17524
 3    117682
 4     28277
 5    150326
 Name: vacancy_ID, dtype: int32,
 0     35949
 1    132632
 2     21183
 3     46642
 4     46443
 5    144076
 Name: vacancy_ID, dtype: int32,
 0    50515
 1    14917
 2    38122
 3    25651
 4    25747
 5     3712
 Name: vacancy_ID, dtype: int32,
 0     48713
 1    140743
 2    127707
 3    103403
 4     13304
 5    130706
 Name: vacancy_ID, dtype: int32,
 0    147534
 1     11866
 2     53244
 3    158440
 4    148851
 5     82083
 Name: vacancy_ID, dtype: int32,
 0    130706
 1    107422
 2      9078
 3    127707
 4    140743
 5    120717
 Name: vacancy_ID, dtype: int32,
 0    130325
 1    130321
 2     27886
 3     36513
 4     82878
 5     33931
 Name: vacancy_ID, dtype: int32,
 0    107422
 1    130706
 2    137340
 3    109567
 4    114512
 5    112140
 Name: vacancy_ID, dtype: int32,
 0     73336
 1      6942
 2     76397
 3     15219
 4    157898
 5     28277
 Name: vacancy_ID, dtype: int32,
 0     48713
 1    157473
 2    141500
 3     23362
 4      6227
 5     97637
 Name: vacancy_ID, dtype: int32,
 0     64601
 1     98113
 2    103403
 3      8241
 4    127707
 5    137340
 Name: vacancy_ID, dtype: int32,
 0    107422
 1     38122
 2     48685
 3     64601
 4    103403
 5    160153
 Name: vacancy_ID, dtype: int32,
 0    160153
 1     64480
 2    150326
 3    117682
 4     68934
 5     16822
 Name: vacancy_ID, dtype: int32,
 0    38633
 1    37701
 2    73336
 3    53969
 4    28277
 5    82381
 Name: vacancy_ID, dtype: int32,
 0    160153
 1     64601
 2     11504
 3      8241
 4    102607
 5    103403
 Name: vacancy_ID, dtype: int32,
 0     10792
 1     95355
 2    147275
 3    159319
 4     82381
 5    109628
 Name: vacancy_ID, dtype: int32,
 0     46565
 1    150128
 2     45455
 3    143574
 4     22613
 5    105629
 Name: vacancy_ID, dtype: int32,
 0    143867
 1      2793
 2    150326
 3     52045
 4     30473
 5      6675
 Name: vacancy_ID, dtype: int32,
 0    158440
 1     62186
 2     76140
 3     36265
 4     11504
 5     14582
 Name: vacancy_ID, dtype: int32,
 0    103403
 1    114512
 2    110627
 3    112140
 4    120717
 5    130706
 Name: vacancy_ID, dtype: int32,
 0     49529
 1    124388
 2     59331
 3     57475
 4    152101
 5     87739
 Name: vacancy_ID, dtype: int32,
 0    146569
 1      1135
 2     85354
 3    122377
 4      6583
 5     95786
 Name: vacancy_ID, dtype: int32,
 0    137340
 1    140743
 2    130706
 3    127707
 4    120717
 5    142559
 Name: vacancy_ID, dtype: int32,
 0     17524
 1    160153
 2     14582
 3    150384
 4     38633
 5    153816
 Name: vacancy_ID, dtype: int32,
 0    160153
 1    144076
 2    150326
 3    117682
 4     54410
 5     20251
 Name: vacancy_ID, dtype: int32,
 0     98113
 1    102607
 2    107107
 3     64601
 4    127707
 5    140743
 Name: vacancy_ID, dtype: int32,
 0     64601
 1    103403
 2      5906
 3     10792
 4    139020
 5    107107
 Name: vacancy_ID, dtype: int32,
 0    139317
 1    106349
 2     11889
 3      9078
 4     49283
 5      3880
 Name: vacancy_ID, dtype: int32,
 0     45455
 1    100505
 2     42618
 3    150128
 4     22613
 5    119265

In [62]:
predicted_vacancies[0]

0     37701
1     17531
2    153816
3    150384
4    153945
5     38633
Name: vacancy_ID, dtype: int32

In [88]:
predict = pd.Series(predicted_vacancies)
predict

0       0     37701
1     17531
2    153816
3    15038...
1       0     38122
1     50515
2      7525
3     3542...
2       0    160153
1    153677
2    150326
3     7133...
3       0    73336
1    53969
2    76397
3     3880
4 ...
4       0    38122
1    50515
2      430
3    48685
4 ...
                              ...
3081    0    160153
1    150326
2    117682
3    14264...
3082    0     81744
1     17896
2     71079
3    14066...
3083    0    147534
1    157630
2     20251
3     1250...
3084    0    160153
1    103403
2    107422
3    13734...
3085    0    145951
1    147534
2      1395
3     6424...
Length: 3086, dtype: object